/********************************************
    SIZE SCREEN 992px - TABLET
********************************************/
@media screen and (min-width: 991px) {

    /* MAIN */
    /* SECTION DEMO-APP*/
    /* first card width */
    #demo-app .col:first-child {
        width: calc(100% / 3 * 2);
    }

    #demo-app .col {
        width: calc(100% / 3);
    }

    /* SECTION BENEFITS */
    #benefits .col {
        width: 50%;
    }
}

/********************************************
    SIZE SCREEN 1200px - DESKTOP
********************************************/
@media screen and (min-width: 1199px) {

    /* CONTAINER */
    .container {
        max-width: 1080px;
    }

    /* HEADER */

    /* hide click-menu and show header-nav*/
    #header .header__menu {
        display: none;
    }

    #header .header__nav {
        display: block;
    }

    /* MAIN */
    /* SECTION DEMO-APP */
    /*first card's content */
    #demo-app .col:first-of-type .card {
        display: flex;
    }

    #demo-app .col:first-of-type .card__content {
        width: 50%;
    }

    /* SECTION APP-DEV */
    #app-dev .row {
        justify-content: center;
        align-items: flex-end;
    }

    #app-dev .col {
        width: 40%;
    }

    /* SECTION BENEFITS */
    #benefits .col {
        width: calc(100% / 3);
    }
}