/********************************************
    SIZE SCREEN 992px - TABLET
********************************************/
@media screen and (min-width: 991px) {

    /* MAIN */
    /* SECTION DEMO-APP*/
    #demo-app .col:first-child {
        width: calc(100% / 3 * 2);
    }

    #demo-app .col {
        width: calc(100% / 3);
    }

    /* firts card' img */
    #demo-app .card__img img {
        margin-left: 0;
        margin-right: auto;
    }

    /* SECTION TESTIMONIALS */
    /* align columns horizontally */
    #testimonials .card .row {
        align-items: center;
    }

    #testimonials .card .col.card__img {
        width: 30%;
    }

    #testimonials .card .col.card__text {
        width: 70%;
        text-align: left;
    }

    /* SECTION BENEFITS */
    #benefits .col {
        width: 50%;
    }

    /* SECTION ABOUT-US*/
    #about-us .col:first-child {
        width: 60%;
    }

    #about-us .col:last-child {
        width: 40%;
    }

    /* SECTION GET STARTED + FOOTER */
    .container.container-small {
        max-width: 768px;
    }
}

/********************************************
    SIZE SCREEN 1200px - DESKTOP
********************************************/
@media screen and (min-width: 1199px) {

    /* CONTAINER */
    .container {
        max-width: 1080px;
    }

    /* HEADER */
    /* hide click-menu and show header-nav*/
    #header {
        padding: calc(var(--base-space)/2) 0;
    }

    #header .header__menu {
        display: none;
    }

    #header .header__nav {
        display: block;
    }

    /* MAIN */
    /* SECTION DEMO-APP */
    /*first card's content */
    #demo-app .col:first-of-type .card {
        display: flex;
    }

    #demo-app .col:first-of-type .card__content {
        width: 50%;
    }

    #demo-app .col:first-of-type .card__text {
        align-self: flex-start;
    }

    #demo-app .col:first-of-type .card__img {
        align-self: flex-end;
    }

    #demo-app .col:first-of-type img {
        width: 300px;
    }

    /* SECTION APP-DEV */
    /* align content horizontally and on the bottom*/
    #app-dev .row {
        justify-content: center;
        align-items: flex-end;
    }

    #app-dev .col {
        width: 40%;
    }

    #app-dev .card {
        margin-left: var(--base-space);
    }

    /* SECTION TESTIMONIALS */ 
    /* reduce img width*/
    :root {
        --rnd-img-space: 150px;
    }

    /* align columns */
    #testimonials .card .col.card__img {
        width: 20%;
    }

    #testimonials .card .col.card__text {
        width: 80%;
    }

    /* SECTION BENEFITS */
    #benefits .col {
        width: calc(100% / 3);
    }

    /* SECTION ABOUT-US*/
    #about-us .col:first-child {
        width: 70%;
    }

    #about-us .col:last-child {
        width: 30%;
    }
}