/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM PROPS */
:root {
    --base-space: 15px;
    
    --top-color-1: #0084fd;
}

/* DEBUG */
.debug {
    border: 2px dashed black;
    /* min-height: 50px;
    min-width: 70px; */
}

/* UTILITY */
.container {
    margin: 0 auto;
    padding: 0 var(--base-space);
}

.d-flex {
    display: flex;
}

.link {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 0 var(--base-space);
}

.btn {
    border: none;
    border-radius: 20px;
    padding: calc(var(--base-space)/2) var(--base-space);
}

.btn-secondary {
    background: white;
    color: var(--top-color-1);
}


/* HEADER */
#header {
    background-color: var(--top-color-1);
    padding: var(--base-space) 0;
    color: white;
}

#header .container {
    justify-content: space-between;
    align-items: center;
}

#header .header__nav {
    display: none;
}