/**************************
 CUSTOM PROPS 
***************************/
:root {
    --base-space: 25px;
    
    --top-color-1: #0084fd;
    --top-color-2: #b5ddff;
    --top-color-text: #62778a;
    --top-color-text-2: #fdfdfe;

    --main-color-1: #9792e4;
    --main-color-2: #ffffff;
    
    --bottom-color-1: #333333;
    --bottom-color-text: #fdfdfe;
}

/*************************** 
 RESET 
***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/***************************  
DEBUG 
***************************/
.debug {
    border: 2px dashed black;
    min-height: 50px;
    min-width: 70px;
}

/*************************** 
GRID 
***************************/
.container {
    margin: 0 auto;
    padding: 0 var(--base-space);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--base-space));
}

.col {
    padding: calc(var(--base-space) / 2) var(--base-space);
    width: 100%;
}


/*************************** 
UTILITY 
***************************/
.d-flex {
    display: flex;
}

.link {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 0 calc(var(--base-space) / 2);
}

.btn {
    border: none;
    border-radius: 20px;
    padding: calc(var(--base-space)/3) calc(var(--base-space)/1.5);
}

.btn-secondary {
    background: white;
    color: black;
    font-weight: 400;
}

.card {
    border-radius: 15px;
    height: 100%;
}

/***************************  
 HEADER
***************************/ 
#header {
    background-color: var(--top-color-1);
    padding: var(--base-space) 0;
    color: var(--top-color-text-2);
    font-weight: 300;
}

#header .container {
    justify-content: space-between;
    align-items: center;
}

#header .header__menu {
    font-size: 1.5rem;
}

#header .header__nav {
    display: none;
}

/*************************** 
 MAIN 
***************************/
section {
    padding: calc(var(--base-space)*2) 0;
}

section:nth-of-type(even) {
    background-color: var(--main-color-1);
}

/* SECTION DEMO-APP */
#demo-app .card {
    background-color: var(--top-color-2);
}

/* SECTION APP-DEV */
#app-dev .col:last-of-type .card {
    background-color: var(--main-color-2);
}

/* SECTION TESTIMONIALS */
#testimonials .col:first-of-type .card {
    background: none;
}

#testimonials .card {
    background-color: var(--main-color-1);
}

/* SECTION BEENFITS */
#benefits .section__title {
    color: var(--main-color-2);
    text-align: center;
}

#benefits .card {
    background-color: var(--main-color-2);
}  

/* SECTION GET-STARTED */
#get-started {
    text-align: center;
}

/*************************** 
 FOOTER
***************************/
#footer {
    padding: calc(var(--base-space)*2) 0;
    background-color: var(--bottom-color-1);
    color: var(--bottom-color-text);
    text-align: center;
}

#footer .footer__content {
    padding: var(--base-space) 0;
}