/**************************
 CUSTOM PROPS 
***************************/
:root {
    --base-space: 20px;
    --rnd-img-space: 220px;
    
    --top-color-1: #0084fd;
    --top-color-2: #b5ddff;
    --top-color-text: #62778a;
    --top-color-text-2: #fdfdfe;

    --main-color-1: #9792e4;
    --main-color-2: #ffffff;
    --main-color-text: #333333;
    
    --bottom-color-1: #333333;
    --bottom-color-text: #fdfdfe;
}

/*************************** 
 RESET 
***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/***************************  
DEBUG 
***************************/
.debug {
    border: 2px dashed black;
    min-height: 50px;
    min-width: 70px;
}

/*************************** 
GRID 
***************************/
.container {
    margin: 0 auto;
    padding: 0 calc(var(--base-space)*2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--base-space)/2);
}

.col {
    padding: calc(var(--base-space)/2);
    width: 100%;
}


/*************************** 
UTILITY 
***************************/
/* display flex */
.d-flex {
    display: flex;
}

/* titles */
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/* links */
.link {
    color: inherit;
}

/* lists */
ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: var(--base-space);
}

/* buttons */
.btn {
    display: inline-block;
    border: none;
    border-radius: 25px;
    padding: 4px 20px;
    background-color: var(--main-color-1);
    color: var(--main-color-2);
    text-decoration: none;
}

.btn-round {
    border-radius: 50%;
    aspect-ratio: 1;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.btn-primary {
    padding: 5px 50px;
    font-weight: 700;
    letter-spacing: 0.1;
}

.btn-secondary {
    background: white;
    color: black;
    font-weight: 400;
}

.btn-tertiary {
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--top-color-1);
    color: var(--top-color-text-2);
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.btn-quaternary {
    border-radius: 50px;
    padding: 15px 60px;
    background-color: var(--main-color-2);
    color: var(--main-color-1);
    font-weight: 700;
    letter-spacing: 0.3rem;
}

/* cards */
.card {
    height: 100%;
    border-radius: 15px;
    padding: var(--base-space);
}

/* immagine rotonda */
.img-round {
    overflow: hidden;
    border-radius: 50%;
    height: var(--rnd-img-space);
    aspect-ratio: 1;
    margin: 0 auto;

    background-color: black;
    color: var(--main-color-1);
    line-height: var(--rnd-img-space);
    font-size: 3rem;
}

.img-round > img {
    height: var(--rnd-img-space);
    aspect-ratio: 1;
    width: auto;
    object-fit: cover;
}

/***************************  
 HEADER
***************************/ 
#header {
    background-color: var(--top-color-1);
    padding: var(--base-space) 0;
    color: var(--top-color-text-2);
    font-weight: 300;

    /* position: sticky;
    top: 0; */
}

#header .container {
    justify-content: space-between;
    align-items: center;
}

#header .header__menu {
    font-size: 1.5rem;
}

#header .header__nav {
    display: none;
}

/*************************** 
 MAIN 
***************************/
main > section {
    padding: calc(var(--base-space)*2) 0;
    line-height: 2rem;
}

main > section:nth-of-type(even) {
    background-color: var(--main-color-1);
    color: var(--main-color-2);
}

/* SECTION DEMO-APP */
#demo-app .card {
    background-color: var(--top-color-2);
    text-align: center;
    color: var(--top-color-text);
}

#demo-app .col:first-of-type .card {
    padding-top: var(--base-space);
    padding-bottom: 0;
    text-align: left;
}

/* card img */
#demo-app .card__img img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* card content*/
#demo-app .card__icon {
    padding-top: var(--base-space);
    color: var(--top-color-1);
    font-size: 5rem;
}

#demo-app .card h3 {
    color: var(--top-color-1);
}

#demo-app .card p {
    font-weight: 700;
}

#demo-app .card .card__text,
#demo-app .card h3,
#demo-app .card p,
#demo-app .card__icon {
    padding-bottom: var(--base-space);
}

/* SECTION APP-DEV */
/* column */
#app-dev .col > img {
    width: 100%;
    margin-bottom: calc(var(--base-space)*3);
}

#app-dev .col > img,
#app-dev .col > h2,
#app-dev .col > p {
    padding-bottom: calc(var(--base-space)*2);
}

/* card */
#app-dev .card {
    border-radius: 50px;
    background-color: var(--main-color-2);
    color: black;
    text-align: center;
}

#app-dev .card > img {
    margin-left: auto;
    margin-right: auto;
}

#app-dev .card > img,
#app-dev .card > h3,
#app-dev .card > p {
    padding-bottom: var(--base-space);
}

#app-dev .card > p {
    font-style: italic;
}

#app-dev .btn.btn-round {
    color: black;
}

/* SECTION TESTIMONIALS */
#testimonials {
    text-align: center;
    color: var(--main-color-text);
}

/* first column */
#testimonials .section__argument {
    text-transform: uppercase;
}

#testimonials .col > h2 {
    color: var(--main-color-1);
}

#testimonials .col > .section__argument,
#testimonials .col > h2,
#testimonials .col > p {
    padding-bottom: calc(var(--base-space)*1.5);
}

/* cards */
#testimonials .card {
    border-radius: 50px;
    background-color: var(--main-color-1);
    color: var(--main-color-2);
}

#testimonials p > i {
    font-size: 1.5rem;
}

#testimonials .card span {
    text-transform: uppercase;
    font-weight: 700;
}

/* SECTION BEENFITS */
#benefits .section__title {
    padding-bottom: calc(var(--base-space)*2);
    color: var(--main-color-2);
    text-align: center;
}

/* cards */
#benefits .card {
    padding: calc(var(--base-space)*1.5);
    background-color: var(--main-color-2);
    color: var(--main-color-1);
}  

#benefits .card__number {
    font-size: 3rem;
    font-weight: 700;
}

#benefits .card > p {
    color: var(--main-color-text);
} 

#benefits .card__number,
#benefits .card > h3,
#benefits .card > p {
    padding-bottom: var(--base-space);
}

/* SECTION ABOUT US */
/* firts column */
#about-us h2 {
    color: var(--main-color-1);
}

#about-us h2,
#about-us p {
    padding: var(--base-space) 0;
}

/* last column */
#about-us .col:last-child {
    color: var(--main-color-1);
}

#about-us .col:last-child .section__img,
#about-us .col:last-child h3 {
    padding-bottom: var(--base-space);
}


/* img-round*/
#about-us .img-round {
    height: 180px;
    margin-left: 0;
}

#about-us .img-round > img {
    height: 180px;
}

#about-us .section__img {
    display: inline-block;
    position: relative;
}

#about-us .section__img__decoration {
    font-size:4rem;

    position: absolute;
    top: -11px;
    right: 0;
}

/* button */
#about-us .btn {
    font-size: 0.9rem;
}

/* SECTION GET-STARTED */
#get-started {
    text-align: center;
}

#get-started .section__argument,
#get-started h3,
#get-started .section__important,
#get-started p,
#get-started .section__info {
    display: block;
    margin-bottom: var(--base-space);
    margin-left: auto;
    margin-right: auto;
}


#get-started .section__argument {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.521);
}

#get-started h3,
#get-started p {
    width: 70%;
} 

#get-started .section__important {
    margin-top: calc(var(--base-space)*2);
    margin-bottom: calc(var(--base-space)*2);
    color: #fdc15f;
    font-size: 4rem;
    font-weight: 700;
}

#get-started p {
    margin-bottom: calc(var(--base-space)*2);
    line-height: 1.5rem;
}

#get-started .section__info {
    margin-top: calc(var(--base-space)*2);
    width: 70%;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

#get-started .section__info i {
    margin: 0 3px;
    font-size: 0.3rem;
    vertical-align: middle;
}

/*************************** 
 FOOTER
***************************/
#footer {
    padding: calc(var(--base-space)*2) 0;
    background-color: var(--bottom-color-1);
    color: var(--bottom-color-text);
    font-size: 0.8rem;
    text-align: center;
}

#footer .footer__content {
    padding: var(--base-space) 0;
}

#footer .link {
    color: var(--main-color-1);
}

#footer .link:last-of-type {
    display: block;
}